<ROUGE_EVAL version="1.5.5">
	<EVAL ID="D1001A-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1001A-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1001A-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1002A-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1002A-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1002A-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1003A-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1003A-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1003A-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1004A-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1004A-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1004A-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1005A-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1005A-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1005A-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1006A-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1006A-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1006A-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1007B-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1007B-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1007B-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1008B-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1008B-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1008B-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1009B-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1009B-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1009B-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1010B-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1010B-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1010B-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1011C-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1011C-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1011C-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1012C-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1012C-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1012C-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1013C-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1013C-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1013C-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1014C-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1014C-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1014C-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1015C-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1015C-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1015C-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1016C-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1016C-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1016C-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1017D-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1017D-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1017D-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1018D-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1018D-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1018D-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1019D-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1019D-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1019D-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1020D-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1020D-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1020D-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1021D-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1021D-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1021D-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1022D-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1022D-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1022D-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1023E-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1023E-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1023E-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1024E-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1024E-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1024E-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1025E-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1025E-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1025E-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1026E-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1026E-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1026E-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1027E-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1027E-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1027E-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1028E-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1028E-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1028E-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1029F-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1029F-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1029F-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1030F-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1030F-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1030F-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1031F-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1031F-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1031F-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1032F-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1032F-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1032F-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1033F-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1033F-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1033F-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1034F-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1034F-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1034F-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1035G-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1035G-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1035G-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1036G-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1036G-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1036G-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1037G-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1037G-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1037G-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1038G-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1038G-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1038G-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1039G-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1039G-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1039G-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1040G-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1040G-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1040G-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1041H-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1041H-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1041H-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1042H-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1042H-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1042H-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1043H-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1043H-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1043H-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1044H-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1044H-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1044H-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1045H-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1045H-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1045H-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
	<EVAL ID="D1046H-A.M.100.A">
		<PEER-ROOT>outputs/D2</PEER-ROOT>
		<MODEL-ROOT>model_dir/</MODEL-ROOT>
		<INPUT-FORMAT TYPE="SPL"/>
		<PEERS>
			<P ID="42">D1046H-A.M.100.A.42</P>
		</PEERS>
		<MODELS>
			<M ID="42">D1046H-A.M.100.A.42</M>
		</MODELS>
	</EVAL>
</ROUGE_EVAL>

